<div class="employee-container">
  <h2>Employee Time Worked</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Time Worked</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" [ngClass]="{'highlight': employee.totalTimeWorked < 100}">
        <td>{{ employee.name }}</td>
        <td>{{ employee.totalTimeWorked.toFixed(2) }} hours</td>
      </tr>
    </tbody>
  </table>

  <h2>Employee Work Distribution</h2>
  <canvas id="employeePieChart" width="600" height="400"></canvas>
</div>
